b25/1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="zapatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zapato" type="xs:string"/>
        <xs:element name="color">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Negro"/>
            <xs:enumeration value="Azul"/>
            <xs:enumeration value="Marron"/>
          </xs:restriction>
        </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>