b25/3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombreUsuario" type="xs:string"/>
        <xs:element name="claveUsuario">
          <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="9"/>
            </xs:restriction>
          </xs:simpleType>
          </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
